<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
      <meta http-equiv="refresh" content = "0;url=https://www.skyweaver.net/news">

      {{ghost_head}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
