<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
      <meta http-equiv="refresh" content = "0;url=https://www.skyweaver.net/news">
      <style>
       .kg-bookmark-thumbnail,
       .kg-bookmark-publisher,
       .kg-bookmark-author,
       .kg-bookmark-icon,
       .kg-bookmark-metadata,
       .kg-bookmark-description,
       .kg-bookmark-title,
       .kg-bookmark-content,
       .kg-bookmark-container,
       .kg-bookmark-card,
       .kg-gallery-image,
       .kg-gallery-row, 
       .kg-gallery-container,
       .kg-width-full,
       .kg-width-wide {display: block}
      </style>
      {{ghost_head}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
